body {
    font-family: sans-serif;
    background-color: rgb(247, 230, 200);
}

h1 {
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 2.3rem;
}

h1:hover {
    font-size: 3rem;
    
}


.principal {
    width: 60%;
    margin: 2rem auto;

}

.galeria {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /*repeat pra repetir 10X a 1fr (10, 1fr)*/
    grid-template-rows: repeat(10, 5vw);
    gap: 0.5rem;
    border: solid 3px blue;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px green;
    background-color: rgb(202, 248, 202);
}

.imggaleria {
    width: 100%;
    height: 100%;
    /*object-fit: cover pra deixar img com nitidez melhor*/
    object-fit: cover;
    /*object-fit é pra especificar como um <img> ou <video> deve ser redimensionado para caber em seu contêiner*/
    /*Essa propriedade informa ao conteúdo pra preencher o contêiner de diversas maneira; como "preservar essa proporção" ou "esticar e ocupar o máximo de espaço possível*/

}

/*Classe geral*/
.itemgaleria {
    /*pra img não estourar a margin que defini no grid*/
    overflow: hidden; /*não deixa a img ultrapassar a borda e não ficar distorcida*/
    border: 1px solid blue;
    border-radius: 5px;

}

/*Configurando cada item*/

/*Gato ao lado da planta*/
.item01 {
    grid-column: 1 / span 4; /*ela estique até preencher todo o espaço até chegar na segunda coluna*/
    grid-row: 1 /  span 8; /*linha 1, só que esticando 5  linhas do grid*/
}


/*Gato andando*/
.item05 {
    grid-column: 4/ span 3;
    grid-row: 1 /  span 4;
}

/*Dois gatos*/
.item07 {
    grid-column: 6 / span 8;
    grid-row: 1 /  span 4;
}

/*Gato dorminhoco*/
.item04 {
    grid-column: 4 / span 5;
    grid-row: 5 /  span 3;
}

/*Gato chumbo*/
.item02 {
    grid-column: 8 / span 6;
    grid-row: 5 /  span 3;
}

/*Gato preto*/
.item03 {
    grid-column: 1 / span 4;
    grid-row: 9 /  span 3;
}

/*Gato arrepiado*/
.item06 {
    grid-column: 4 / span 4;
    grid-row: 8 /  span 4;
}

/*Dois gatos amarelos*/
.item08 {
    grid-column: 7 / span 8;
    grid-row: 8 /  span 4;
}



footer {
    text-align: center;
    font-size: .7rem;
    /*background-color: #ccccccaf;*/
    background-color: wheat;
    font-weight: bold;
    padding: 1px;


}

.créditos {
    opacity: .7;
}













/*Esse trabalho foi feito por Luciene Lima*/